ul {
    padding: 0 !important;
}

a {
    text-decoration: none !important;
}

.InputTextarea {
    resize: none;
    height: 130px;
}

.main_body {
    height: 100vh;
}

.login_form {
    width: 400px;
    height: 450px;
}

.login_form_field {
    height: 100px;
}

.login_link {
    width: 400px;
}

.signup_user_form {
    width: 1400px;
    height: 650px;
}

.signup_user_form_field {
    height: 100px;
}

.signup_user_form_field_address {
    height: 180px;
}

.signup_form {
    width: 600px;
    height: 650px;
}

.signup_form_field {
    height: 100px;
}

.signup_form_field_address {
    height: 180px;
}

.signup_link {
    width: 1400px;
}

.custom_file_upload {
    width: 90% !important;
    margin: 0 auto;
    display: block;
}